h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 85px;
	margin: auto;
	color: #ccc;
	font-size: 4.3rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
h2 {
	margin: 0 auto;
	width: 95%;
	font-size: 20px;
	border-bottom: 2px solid #555;
}
h3 {
	margin: 0 auto;
	width: 95%;
	padding-bottom: 0px;
}
h4 {
	width: 95%;
	padding: 0px 0px;
	margin: 15px 0px;
	text-align: right;
}

a {
	text-decoration: none;
}

.middle-wrapper {
	height: 70px;
	background-color: #8c9;
	margin: 20px;
}
.middle-left {
	float: left;
	height: 50px;
	width: 20%;
	text-align: center;
	margin: 10px;
}
.middle-right {
	float: right;
	padding: 0 15px;
	margin: 15px;
	background-color: #aaa;
}
.middle-right p {
	float: left;
	padding: 5px;
	margin: 5px; 
	font-weight: bold;
}
.tbox {
	width: 250px;
	padding: 5px;
	margin: 5px;
}
.btn {
	background-color: #ccc;
	color: white;
	width: 100px;
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
}
.btn-l {
	display: block;
	background-color: #999;
	color: white;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 5px auto;
	border-radius: 6px;
}
.btn-s {
	background-color: #ace;
	color: black;
	width: 60px;
	padding: 1px;
	margin: 2px;
	border-radius: 6px;
}

.list-wrapper {
	margin: 0 auto;
	width: 90%;
}
.list-wrapper p {
	float: left;
	width: 20%;
	border: solid 1px #eee;
	box-sizing: border-box;
	height: 40px;
	padding: 5px;
	margin: 0px;
	font-weight: bold;
	text-align: center;
}

.my-task p {
	background-color: pink;
}