#title {
	background-color: #444;
	color: white;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 30px;
	font-weight: normal;
	font-family: fantasy;
}
h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
span {
	color: #7b5;
	background-color: rgba(200, 120, 120, 0.2);
}
p {
	margin: 0;
}

hr {
	margin: 0px;
}

.login-form {
	background-color: #ccc;
	width: 43%;
	margin: 0 auto;
}

.inputs {
	line-height: 40px;
	text-align: center;
}

.btn-wrapper {
	background-color: #aaa;
	text-align: center;
}
.btn {
	background-color: black;
	color: white;
	width: 150px;
	padding: 5px;
	margin: 5px;
	border-radius: 7px;
}