div,span,h1,h3,h4,p,img,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "メイリオ", Meiryo, Osaka, "MS PGothic", sans-serif;
}
h2 {
	padding-top: 10px;
	padding-left: 20px;
	font-size: 28px;
	font-weight: normal;
	font-family: fantasy;
}
.login-form {
	width: 50%;
	margin: 0 auto;
	padding: 15px;
	background-color: orange;
	text-align: center;
}
.login-title {
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
}
.inputs {
	background-color: magenta;
	padding: 20px;
}
.inputs input {
	
}
.userID {
	background-color: blue;
	font-weight: bold;
	padding-right: 20px;
	padding-bottom: 20px;
}
.password {
	background-color: yellow;
	font-weight: bold;
	padding-right: 20px;
	padding-bottom: 20px;	
}
.btn-wrapper{
	background-color: #ccc;

}
.btn {
	display: inline-block;
	background-color: black;
	color: white;
	width: 150px;
	padding: 5px;
	margin: 5px;
	border-radius: 7px;
}