div,span,h1,h2,h3,h4,p,img,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "メイリオ", Meiryo, Osaka, "MS PGothic", sans-serif;
}
body {
  /* 画像ファイルの指定 */
  background-image: url(../images/Salar_de_Uyuni.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;   
  /* 表示するコンテナの大きさに基づいて、背景画像サイズを調整 */
  background-size: cover;  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #77777;
}
a:hover {
	color: cyan;
}
/* 画像の上にマウスホバー時1秒かけて透過(:hoverとセットで機能) */
img {
	transition: 1.0s ;
}
img:hover {
	opacity: 0.5;
}
h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 85px;
	margin: auto;
	color: #ccc;
	font-size: 4.3rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
h2 {
	color: #34f115;
	font-size: 1.5rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.plans {
	font-size: 18px;
	color: #111180;
}
.plan2 {
	color: #a91111;
}
/* 追加実装予定 */
.next-plan {
	color: #777777;
	opacity: 0.2;
}
.implemented {
	color: green;
	opacity: 0.4;
}
footer {
	height: 93px;
	background-color: #aaa;
}
footer p {
	margin-left: 119px;
	font-size: 0.75rem;
	line-height: 93px;
}
