body {
  font-family: "メイリオ";
  /* 画像ファイルの指定 */
  background-image: url(../images/b0133447_2029955.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像サイズを調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #999;
}

h1 {
  position: absolute;
  top: 500px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 130px;
  margin: auto;
  color: #ccc;
  font-size: 2.6rem;
  text-align: center;
  opacity: 0.5
}

a{

}
/* 画像の上にマウスが乗った時の動作 */
a:hover {
  text-decoration: none;
	color: cyan;
}

/* 画像の上にマウスが乗った時、1秒かけて透過(:hoverとセットで機能) */
img {
	transition: 1.0s ;
}
img:hover {
	opacity: 0.3;
}
